# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
public/web-sample1.jpg
public/web-sample2.jpg
public/web-sample3.jpg
public/team-logo-black.png
public/team-logo.png
public/logo-raw-colored.png
public/logo-raw-white.png
